html {
  font-size: 10px;
  font-family: 'Space Grotesk', sans-serif;
}


h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: #000000;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0 auto;
  padding: 20px 0;
  color: #ffffff;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}

.btn {
	background: transparent;
	color: inherit;
	text-decoration: none;
	border: 0;
	transition: all 200ms ease-in;
	display: inline-block;
}

.btn-default {
	color: black;
	font-weight: bold;
	text-transform: uppercase;
	border: 4px solid black;
	padding: 12px 28px;
}

.btn-default:hover {
	background: black;
	color: white;
}

.btn--skew {
	transform: skew(-10deg);
}

.btn--skew > span {
	transform: skew(10deg);
	display: inline-block;
}
